*.class
*.log
*.class
**/.DS_Store
.DS_Store
.sbt
.bsp
.metals
.vscode
.history
.cache-main
.scala_dependencies
publish.sbt
target/
generated/
project/project/
project/target/
src/main/resources/local.conf
claude.md